
@{
    ViewData["Title"] = "Cadastro";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Cadastro de Estoque</h1>

Preencha o formulário abaixo para realizar o cadastro.
<br />
<br />

<form>
    <label>Produto:</label>
    <select class="form-control col-md-4">
        <option selected>Choose...</option>
        <option value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
    </select>
    <br />

    <label>Data de entrada:</label>

    <input type="date" class="form-control col-md-4" />
    <br />

    <label>Quantidade:</label>
    <input type="text" class="form-control col-md-4"
           placeholder="Quantidade" />
    <br />

    <input type="submit" class="btn btn-success"
           value="Realizar Cadastro" />

</form>


