@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem-vindo ao sistema de controle de estoque</h1>
    <p>Desenvolvido por <a href="https://github.com/nskristian">Kristian Nascimento</a>, <a href="https://github.com/LucasMarapodi">Lucas Marapodi</a> e <a href="https://github.com/KallDrayck">Leonardo Calazans</a></p>
</div>
